.contact {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact form {
  max-width: 600px;
  margin: auto;
}

.contact label {
  display: block;
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contact input:focus,
.contact textarea:focus {
  border-color: #666;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.contact button {
  transition: all .3s ease;
  color: rgb(14, 5, 5);
  border: 2px solid rgb(70, 43, 226);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding: 12px 20px;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact button:hover {
  color: white;
  background-color: blue;
  border-color: blue;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

  