.footer {
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  
  .social-links {
    margin-bottom: 1rem;
  }
  
  .social-links a {
    margin: 0 10px;
    color: white; 
    transition: color 0.3s ease;
  }
  
  .social-links a:hover,
  .social-links a:focus {
    color: #007bff; 
  }
  